*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/bin/
/build/
/dist/
*.log
*.tmp
*.swp
*.DS_Store
vendor/
coverage.out
/go.sum
/go.work.sum
replace.go
.vscode/
.idea/
*.code-workspace
*.coverprofile
*.cov
*.coverage
Thumbs.db
ehthumbs.db
Desktop.ini
.release/
artifacts/